/* this contains table/canvas */
.center-container{
    width: 608px;
    /* center the container */
    margin: 0 auto;
    margin-top: 50px;
}
table{
    border-collapse: collapse;
    border-style: hidden;
}

td{
    /* change the cursor */
    cursor: pointer;
    border: 4px solid rgba(3, 219, 252, 0.8);
    padding: 0px;
    width: 200px;
    height: 200px;
    filter: contrast(3);
}

canvas{
    /* set position of canvas to top left corner */
    position: absolute;
    /* place canvas on top of our table */
    z-index: 10;
    /* make canvas pointer invisible */
    pointer-events: none;
}

h1#heading{
    text-align: center;
    color: white;
    filter: drop-shadow(2px 2px 3px #7dbeff);
    font-weight: 900;
}
body{
    background-color: rgba(26, 26, 26, 0.82);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgba(26, 26, 26, 0.82)
}